<footer>
  <div class="footer-bar wrapper">
    <a href="/">
      <div class="footer-logo">
        <!-- <img src="/assets/logos/nmtc-icon-light.svg" alt=""> -->
        <img src="/assets/logos/nmtc-acro-light.svg" alt="">
      </div>
    </a>
  </div>
  <div class="footer-container wrapper">
    {% for list in site.data.footer-items %}
      <div class="footer-column">
        {% for item in list.list %}
        <div class="footer-item">
          <a href="{{ item.page }}">{{ item.name }}</a>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="footer-bar wrapper"></div>
  <div class="wrapper">
    <a href="/">
      <div class="footer-logo text">
        nmtc.run
      </div>
    </a>
  </div>
</footer>
