{% assign first_logo = site.data.sandbox-logos[0].url %}
<nav class="main-menu">
  <div class="logo-container">
    <div class="logo-spacer">
      <div class="menu-icon menu-toggle" id="main-toggle"></div>
    </div>
    <a href="/">
      <div class="logo">
        <img src="/assets/logos/nmtc-logo-vintage-acro.svg" alt="NMTC">
        <!-- <img src="/assets/logos/nmtc-logo-vintage-acro.svg" alt="" class="hide-narrow">
        <img src="/assets/logos/nmtc-logo-vintage-acro.svg" alt="" class="show-narrow"> -->
        <!-- <img src="assets/logos/nmtc-logo-vintage-long.svg" alt="" class="hide-narrow" id="station-identification"> -->
        <!-- <img id="logo" src="{{ first_logo }}" alt=""> -->
      </div>
    </a>
    <div class="logo-spacer right">
      <div class="runner-icon"></div>
    </div>
  </div>
  <div class="menu-wrapper items-main">
    <div class="menu-items">
      <ul class="menu">
        {% for item in site.data.menu-items %}
          {% if item.page == page.permalink %}
            {% assign active = "active" %}
          {% else %}
            {% assign active = null %}
          {% endif %}
          {% if item.name %}
            <li class="{% if active %}active{% endif %}">
                <a href="{{ item.page }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li id="more-selector" onclick="toggleMoreItems()">
          <a href="#" style="display: inline-block;">More</a><div class="more-arrow"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="" id="more-container">
    <div class="more-content" id="more-content">
      <div class="more-item" id="overlay-events-list">
        <img src="/assets/logos/nmtc-acro-black.svg" alt="" id="more-logo">
        <ul>
          <li class="submenu-heading">Run</li>
          {% for race in site.data.event-data %}
            <li>
              <a href="{{ race.page }}">{{ race.slug }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% for menuItem in site.data.menu-items %}
        {% if menuItem.more %}
          {% for submenus in menuItem.more %}
            <div class="more-item">
              <ul>
                {% for submenu in submenus.submenu %}
                  {% if submenu.heading %}
                    <li class="submenu-heading">{{ submenu.heading }}</li>
                  {% else if submenu.name %}
                    {% if  submenu.external %}
                      <li><a href="{{ submenu.page }}" target="_blank">{{ submenu.name }}</a></li>
                    {% else %}
                      <li> <a href="{{ submenu.page }}">{{ submenu.name }}</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="close-menu" id="overlay-toggle"></div>
  </div>
  <div class="menu-wrapper items-races">
    <div class="menu-items">
      <ul class="menu">
        {% for item in site.data.event-data %}
          {% if item.page == page.permalink %}
            {% assign active = "active" %}
          {% else %}
            {% assign active = null %}
          {% endif %}
          <li class="{% if active %}active{% endif %}">
              <a href="{{ item.page }}">{{ item.slug }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div id="menu-hr"></div>
</nav>

<script type="text/javascript">

  // toggle submenu overlay
  function toggleMoreItems() {
    var moreItems = document.getElementById('more-container');
    if (moreItems.classList.contains('show')) {
          moreItems.classList.remove('show');
      } else {
          moreItems.classList.add('show');
      }
  }

  // Function to handle window resize
  function handleResize() {
    var viewportWidth = window.innerWidth;
    var moreItems = document.getElementById('more-container');

    if (viewportWidth < 600) {
      // moreItems.style.display = 'none';
      moreItems.classList.remove('show');
    }
  }

  // Add event listener for window resize
  window.addEventListener('resize', handleResize);

  // Call handleResize initially to handle initial viewport width
  handleResize();

  // toggle menu on small screens
  document.addEventListener('DOMContentLoaded', function () {

    const mainToggle = document.getElementById('main-toggle');
    const overlayToggle = document.getElementById('overlay-toggle');
    const moreContainer = document.getElementById('more-container');
    const moreContent = document.getElementById('more-content');
    const overlayEvents = document.getElementById('overlay-events-list');
    const body = document.body;

    // When "Menu" is clicked, show menu and stop scrolling
    mainToggle.addEventListener('click', function () {
      moreContainer.classList.add('overlay');
      moreContent.classList.add('overlay');
      overlayToggle.classList.add('overlay');
      overlayEvents.classList.add('show');
      body.classList.add('menu-active');
    });

    overlayToggle.addEventListener('click', function () {
      moreContainer.classList.remove('overlay');
      moreContent.classList.remove('overlay');
      overlayToggle.classList.remove('overlay');
      overlayEvents.classList.remove('show');
      body.classList.remove('menu-active');
    });

  });
</script>
