<nav class="main-menu">
  <a href="/">
    <div class="logo">
    <img src="/img/nmtc-logo.svg" alt="">
    </div>
  </a>
  <div class="menu-wrapper">
    <div class="menu-items">
      <div class="menu-toggle">Menu
        <div class="menu-icon"></div>
      </div>
      <ul class="menu">
        {% for item in site.data.menu-items %}
          <li>
            {% unless item.submenu %}
              <a href="{{ item.page }}">{{ item.name }}</a>
            {% endunless %}
            {% if item.submenu %}
              <div class="submenu-title">
                {{ item.name }}
                <div class="down-arrow">
                  {% assign arrow-color = "#111" %}
                  {% include down-arrow.html %}
                </div>
              </div>
              <ul class="submenu">
                {% for subitem in item.submenu %}
                  <li><a href="{{ subitem.page }}">{{ subitem.name }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <div class="close-menu">
        <svg class="close-menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', function () {

    const menuToggle = document.querySelector('.menu-toggle');
    const closeMenu = document.querySelector('.close-menu');
    const menu = document.querySelector('.menu');
    const body = document.body;

    // When "Menu" is clicked, show menu and stop scrolling
    menuToggle.addEventListener('click', function () {
      menu.classList.add('show');
      closeMenu.style.display = 'block';
      body.classList.add('menu-active');
    });

    // When "X" is clicked, hide menu and resume scrolling
    closeMenu.addEventListener('click', function () {
      menu.classList.remove('show');
      closeMenu.style.display = 'none';
      body.classList.remove('menu-active');
    });
  });
</script>
