<div class="news-left" id="news-left">
  <div class="news-heading">Latest News</div>
  <div id="updates-spotlight">[Loading...]</div>
</div>
<div class="news-right" id="news-right">
  <div class="news-heading">More Updates</div>
  <div class="" id="updates-feed">[Loading...]</div>
  <div class="news-button container" style="display:flex;padding: 0.5em;">
    <a href="https://www.facebook.com/runnmtc/" style="margin: 0 auto;text-decoration:none;" target="_blank">
      <div class="button">More Posts</div>
    </a>

  </div>
</div>

<script type="text/javascript">
  const newsFeedUrl = 'https://script.google.com/macros/s/AKfycbxknf6sxcCCr4p7SluysoUkObfYrGBQcf892-Qynq-uhvVZZwJEX1IPEtz--cl6ynS8bg/exec';

  fetch(newsFeedUrl)
  .then(response => {
    // Check if response is successful
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    // Parse JSON response
    return response.json();
  })
  .then(data => {
    // Process the data
    console.log(data);

    // Display the data
    displayFeedItems(data);
  })
  .catch(error => {
    var defaultData = [{"sourceName":"Facebook","sourceUrl":"https://www.facebook.com/295987053807192/posts/863267505840758","imgUrl":"https://scontent-dfw5-2.xx.fbcdn.net/v/t39.30808-6/438640661_853688836798625_8120563862475073905_n.jpg?stp=dst-jpg_p720x720&_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=qClQc3_nwUMQ7kNvgGSJVNk&_nc_ht=scontent-dfw5-2.xx&edm=AKIiGfEEAAAA&oh=00_AfAA538CvWW5sSPPaeU_sAbE4g5eT1vQ7SlK4qlXHVlWcA&oe=663978B0","headline":"NMTC posted on Facebook","date":"2024-05-01T06:00:00.000Z","message":"Our first race is tonight at 6 p.m.! Join us for a 7.3k on Bear Creek trail. Head over to Superior and follow highway 2 to the edge of town. You'll hang a left onto Moccasin Mike Rd and then you'll turn left again right behind the humane society. \nThis link shows pins for all of the spring series. \nhttps://nmtc.run/google-maps/spring-series/"}];
    displayFeedItems(defaultData);
    console.error('There was a problem with the fetch operation:', error);
  });

  function displayFeedItems(data) {

    // Set and clear the divs before starting
    const newsLeft = document.getElementById('updates-spotlight');
    const newsRight = document.getElementById('updates-feed');
    newsLeft.innerHTML = '';
    newsRight.innerHTML = '';

    // Iterate through the updates and display on page
    data.forEach((item, index) => {

      if (index === 0) {

        const anchor = document.createElement('a');
        anchor.className = 'left-item';
        anchor.href = item.sourceUrl;
        anchor.target = '_blank';

        // Hide the image if img url is blank
        let imgStyle = '';
        if (item.imgUrl === '') {
          imgStyle = 'display:none;'
        }

        // Format the date
        item.date = formatDate(item.date); 

        const leftHtml = `
          <a class="left-item" href="${item.sourceUrl}">
            <div class="left-image" id="left-image" style="background-image: url('${item.imgUrl}');${imgStyle}">
              <div class="social-icon-container">
                <div class="social-icon" style="background-image: url('/assets/icons/social/fb.svg');"></div>
              </div>
            </div>
            <div class="left-content">
              <div class="news-spacer"></div>
              <div class="left-headline">
                ${item.headline}
              </div>
              <div class="left-message">
                ${item.date} — ${item.message}
              </div>
            </div>
          </a>
        `;

        anchor.innerHTML = leftHtml;
        newsLeft.appendChild(anchor);

      } else {

        const anchor = document.createElement('a');
        anchor.className = 'right-item';
        anchor.href = item.sourceUrl;
        anchor.target = '_blank';

        let abridgedMessage = truncateString(item.message, 50);

        // Set the img url if blank
        if (item.imgUrl === '') {
          item.imgUrl = '/assets/icons/chain-link.svg';
        }

        //
        if (item.imgUrl.includes("external")) {
          // item.imgUrl = '/assets/icons/chain-link.svg';
        }

        const html = `
          <div class="right-content">
            <div class="right-headline">
              ${item.headline}
            </div>
            <div class="right-message">
              ${abridgedMessage}
            </div>
          </div>
          <div class="right-image" style="background-image: url('${item.imgUrl}');">
            <div class="social-icon-container">
              <div class="social-icon" style="background-image: url('/assets/icons/social/fb.svg');"></div>
            </div>
          </div>
        `;

        anchor.innerHTML = html;
        newsRight.appendChild(anchor);
      }
    });
  }

  // Function to truncate a long message and add ellipsis
  function truncateString(str, maxLength) {
    // If string length is less than or equal to maxLength, return the original string
    if (str.length <= maxLength) {
      return str;
    }

    // Find the last space within the first maxLength characters of the string
    var lastSpaceIndex = str.lastIndexOf(' ', maxLength);

    // If no space is found within the first maxLength characters,
    // truncate the string at maxLength and add ellipsis
    if (lastSpaceIndex === -1) {
      return str.substring(0, maxLength) + '...';
    }

    // Otherwise, truncate the string at the last space before maxLength and add ellipsis
    return str.substring(0, lastSpaceIndex) + '...';
  }

  // Function to format the created time
  function formatDate(dateString) {
      const date = new Date(dateString);
      const options = { year: 'numeric', month: 'long', day: 'numeric' };
      return date.toLocaleDateString('en-US', options);
  }

</script>
