<div class="news-heading">Latest News</div>

<div class="">
  <p>NMTC maintains two Facebook pages:</p>
  <ul><li>One focuses on our local running scene, anchored by the Spring and Fall Series. </li><li>The other focuses on our summer races, Curnow and Voyageur, when we welcome significantly more runners from out of town, out of state, and even out of the country.</li></ul>
  <p>Please check here for news, photos, and community discussion: </p>
  <div class="container" style="display:flex;padding-bottom:1em;">
    <a href="https://www.facebook.com/runnmtc/" style="margin: 0 auto;" target="blank">
      <div class="button"><img src="/assets/icons/social/Facebook-light.svg" style="height:1em;"> Spring/Fall Series</div>
    </a>
    <a href="https://www.facebook.com/minnesotavoyageur" style="margin: 0 auto;" target="blank">
      <div class="button"><img src="/assets/icons/social/Facebook-light.svg" style="height:1em;"> Curnow/Voyageur</div>
    </a>
  </div>
</div>
