<div class="events-list">
  {% for event in site.data.event-data %}
    <a href="{{ event.page }}">
      <div class="event">
        <div class="photo" style="background-image: url( {{ event.img }} )"></div>
        <div class="content">
          <div class="event-date-dist">{{ event.date }} • {{ event.distance }}</div>
          <div class="event-name">{{ event.name }}</div>
          <div class="event-desc">
            {{ event.description | newline_to_br }}
            <div class="container" style="display:flex;">
                <div class="button" style="margin: 0.5em auto 0.25em auto;">{{ event.button-text }}</div>
            </div>
          </div>

        </div>
      </div>
    </a>
  {% endfor %}
</div>
