/**
 * Home page hero images, titles, spacer, and button
 */

 .hero-carousel {
  position: relative;
  overflow: hidden;
  height: 60vh;
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-slide {
  flex: 1;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  // opacity: 0; /* Set initial opacity */
  // transition: opacity 5s ease; /* Add transition for opacity */
}

.carousel-slide.active {
  display: flex;
  // opacity: 1; /* Set opacity to 1 for active slide */
  // transition: opacity 5s ease; /* Add transition for opacity */
}

.carousel-caption {
  background-color: #0000004f;
  margin: 0.5em;
  font-size: 3.8em;
  transform: rotate(-6deg);
  text-align: center;
  max-width: 80vw;
  color: #fdfdfd;

  align-self: center;
  justify-content: center;
  padding: 10px;
}

.carousel-dots {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.dot {
  display: block;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.dot.active {
  background-color: $brand-color;
}

.spacer {
  flex: 100;
}

.buttons {
  display: flex;
  justify-content: center;
  z-index:9000;
  padding-bottom: 1em;
}

.buttons .button {
  margin: 0 10px;
}

@include media-query($on-palm) {
  .hero-content,
  .carousel-caption {
    font-size: 2.5em;
  }
}

@import
  "nmtc/hero-event"
