/*
 * News feed base styles, styles for larger screens
 */

.news-feed {
  display: flex;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

a.right-item,
a.left-item {
  color: $text-color;
  text-decoration: none;
  align-items: center;
}

a.left-item:hover .left-headline,
a.right-item:hover .right-headline {
  text-decoration: underline;
}

.news-heading {
  text-transform: uppercase;
  padding-bottom: 0.8em;
  font-weight: 450;
}

.news-left,
.news-right {
  padding: 1em;
  width: calc(50% - 2em - 0.5em);
}

.news-left {
  // min-height: 600px;
}

.news-right {
  // max-height: 600px;
}

.left-image,
.right-image {
  position: relative;
}

.social-icon-container {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1em;
  width: 1em;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 0.8em;
  width: 0.8em;
}

.left-image {
  background-position: center;
  background-size: cover;
  height: 300px;
  margin-bottom: 0.5em;
}

.left-headline {
  font-weight: bold;
  padding-bottom: 0.5em;
}

.left-message {
  white-space: pre-line;
  & p {
    margin-bottom: 0.5em;
    overflow-wrap: break-word;
  }
}

.news-right {
  overflow-y: auto; /* or overflow-y: scroll; */
  overflow-x: hidden;
  padding-left: 1.5em;
  border-left: 1px solid darken($background-color, 25%);
  margin-left: .5em;
}

.right-item {
  display: flex;
  // max-height: 5em;
}

.right-item + .right-item {
  margin: 1em 0;
}

.right-image {
  background-position: center;
  background-size: cover;
  height: 4.5em;
  width: 4.5em;
  flex-shrink: 0;
}

.right-content {
  padding-right: 1em;
  overflow-y: hidden;
  flex-grow: 1;
  font-size: 0.8em;
}

.right-headline {
  font-weight: bold;
  padding-bottom: 0.2em;
  display: inline;
}

.right-message {
  display: inline;
}

.news-source {
  padding-right: 0.5em;
  padding-left: 0.5em;
  flex-shrink: 0;
  text-transform: uppercase;
  font-size: 0.75em;
  border: 1px solid darken($background-color, 60%);
  background-color: darken($background-color, 60%);
  color: $background-color !important;
  flex-shrink: 0;
  flex-grow: 0;
  display: inline;
  margin-bottom: 0.2em;
}

.news-spacer {
  flex-grow: 1;
}

.button.grey {
  background-color: darken($background-color,60%);
  &:hover {
    background-color: darken($background-color,65%);
  }
}

/*
 * Styles for smaller screens
 */

 @include media-query($on-laptop) {
   .news-feed {
     flex-direction: column;
   }

   .news-left,
   .news-right {
     width: auto;
     max-height: auto;
     padding: 1em 0;
   }

   .news-right {
     max-width: 440px;
    margin: 0 0 0 auto;
    border: none;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    max-height: 50vh;
   }

   .right-image {
     margin: 0 1em;
   }

 }
