/**
 * Base styles for pages (events, series, etc.)
 */

.event-content h1 {
  // background-color: darken($background-color,15%);
  padding: 0.5em;
  text-align: center;
  border-top: double 3px black;
  border-bottom: solid 1px black;
}

.event-content a {
  color: $brand-color;
  text-decoration: underline;

  &:hover{
    // text-decoration: none;
  }
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 1em;
  font-size: 0.9em;
}

/**
 * Styles for series pages
 */

.map-container {
  height:calc(480px - 67px);
  width:100%;
  border:none;
  display:inline-block;
  overflow:hidden;
}

#map-iframe {
  border: none;
  position:relative; top:-67px;
}

.series-event-wrapper {
  padding-bottom: 1em; 
}

.series-event {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;

  &.active {
    background-color: darken($background-color,5%);
  }
}

.series-details + .series-event.click-map {
  border-top: 1px solid $text-color;
}

.series-arrow-name {
  display: flex;
  align-items: center;
}

.series-arrow {
  background-image: url('/assets/icons/angle-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 0.8em;
  height: 1em;
  fill: #111;
  margin-right: 0.25em;
}

.series-event.click-map.active .series-arrow {
  background-image: url('/assets/icons/angle-down.svg');
  transform: translateY(0.1em);
}

.series-name {
  font-weight: bold;
}

.series-dist {
  padding-left: 0.5em;
  font-weight: bold;
  &::before {
    content: '–';
    padding-right: 0.5em;
  }
}

.series-spacer {
  flex-grow: 1;
}

.series-date-time {
  display: flex;
  align-items: center;
  max-width: 49%;
  flex-direction: row;
}

.series-date {
  padding-left: 1em;
}

.series-time {
  width: 4.7em;
  padding-left: 10px;
  text-align: right;
}

/**
 * Series pages - event map details component
 */

.series-details {
  display: none;
}

.series-event.click-map.active + .series-details {
  display: block;
  padding-left: 1em;
  background-color: yellow;
  width: calc(100% - 1em);
  background-color: darken($background-color,5%);
}

.series-padding {
  height: 0.5em;
  width: calc(100% - 1em);
  background-color: darken($background-color,5%);
}

.series-sunset-pace,
.series-location,
.series-results,
.series-description,
.series-padding {
  & div {
    display: inline-block;
    padding-right: 1em;
    & strong {
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: normal;
    }
    & + div {
      // padding-right: 1em;
    }
  }
}

.driving-directions {
  text-transform: uppercase;
  font-size: 0.8em;
}

.arrow-blank {
  width: 0.7em;
  height: 0.7em;
  padding-right: 0.4em;
  transform: translateY(-0.1em);
}

/**
 * Series pages - small screens
 */

@include media-query($on-palm)  {
  .series-event,
  .series-details {
    font-size: 0.8em;
  }
}
