/**
 * Styles for icons
 */

.down-arrow {
 display: inline-block;
 background-image: url(/assets/icons/angle-down-light.svg);
 background-repeat: no-repeat;
 background-position: center;
 width: 0.8em;
 height: 0.8em;
 padding-left: 0.15em;
 transform: translateY(0.25em);
}

.menu-icon {
  display: inline-block;
  background-image: url(/assets/icons/menu-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(-0.2rem);
}

.runner-icon {
  display: inline-block;
  // background-image: url(/assets/icons/runner-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(-0.2rem);
}

.close-menu {
  display: inline-block;
  background-image: url(/assets/icons/close-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(-0.2rem);
}
