/**
 * Styles for icons
 */

.down-arrow {
 display: inline-block;
 // background-image: url(/assets/icons/down-arrow.svg);
 // background-repeat: no-repeat;
 // background-position: center;
 //
 // width: 0.8em;
 height: 0.8em;
 padding-left: 0.15em;
 transform: translateY(0.25em);
}

// .submenu-title .down-arrow {
//   transform: translateY(0.25em);
// }
//
// .button .down-arrow {
//   transform: translateY(0.4em);
// }

.menu-icon {
  display: inline-block;
  background-image: url(/assets/icons/menu-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  fill: $text-color;
  width: 1em;
  height: 0.85em;
  transform: translateY(.1em);
}
