---
layout: default
---

<div class="home-hero">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="hero-content">
    <h1>Northern Minnesota Track Club</h1>
  </div>
  <div class="spacer"></div>
  <!-- <h2>Promoting trail running and managing races since 1981.</h2> -->
  <div class="buttons">
    <a href="#events">
      <div class="button">Our events
        {% assign arrow-color = "#fdfdfd" %}
        {%- include down-arrow.html -%}
      </div>
  </a>
  </div>
  <!-- <a href="#events" class="scroll-arrow"> Our events <span class="arrow">&#x2935;</span></a> -->
</div>

{% if page.display-this-content %}
  <div class="home-content">
    {% if page.title %}
      <div class="page-heading">{{ page.title }}</div>
    {% endif %}
    {% if page.subtitle %}
      <div class="page-subhead">{{ page.subtitle }}</div>
    {% endif %}
    {{ content }}
  </div>

{% endif %}

<div class="home-events" id="events">
  <div class="container">
    {% for event in site.data.event-data %}
      <div class="box">
        <div class="box-image" style="background-image: url('{{ event.img }}')"></div>
        <div class="box-content">
            <div class="event-name">{{ event.name }}</div>
            <div class="event-date">{{ event.date }}</div>
            <div class="event-dist">{{ event.distance }}</div>
            <div class="event-desc">{{ event.description | newline_to_br }}</div>
            <div class="button-container">
              <a href="{{ event.page }}">
                <div class="button">Event details</div>
              </a>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
