---
layout: default
---

<div class="hero-carousel">
  {% assign dot_counter = 0 %}
  {% for hero in site.data.home-photos %}
    {% assign dot_counter = dot_counter | plus: 1 %}
    <div class="carousel-slide{% if dot_counter == 1 %} active{% endif %}" style="background-image: url('{{ hero.image }}');">
      <h1 class="carousel-caption">{{ hero.headline }}</h1>
    </div>
  {% endfor %}

  <div class="carousel-dots">
    {% assign range = (1..dot_counter) %}
    {% for i in range %}
      <span class="dot{% if i == 1 %} active{% endif %}"></span>
    {% endfor %}
  </div>

  <div class="spacer"></div>
  <div class="buttons">
    <a href="#events">
      <div class="button">Our events
        {%- assign arrow-color = "#fdfdfd" -%}
        {%- include down-arrow.html -%}
      </div>
    </a>
  </div>
</div>

{% if page.display-this-content %}
  <div class="home-content">
    {% if page.title %}
      <div class="page-heading">{{ page.title }}</div>
    {% endif %}
    {% if page.subtitle %}
      <h1 class="page-subhead">{{ page.subtitle }}</h1>
    {% endif %}
    {{ content }}
  </div>

{% endif %}

<div class="home-events" id="events">
  <div class="container">
    {% for event in site.data.event-data %}
      <div class="box">
        <div class="box-image" style="background-image: url('{{ event.img }}')"></div>
        <div class="box-content">
            <div class="event-name">{{ event.name }}</div>
            <div class="event-date">{{ event.date }}</div>
            <div class="event-dist">{{ event.distance }}</div>
            <div class="event-desc">{{ event.description | newline_to_br }}</div>
            <div class="button-container">
              <a href="{{ event.page }}">
                <div class="button">Event details</div>
              </a>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  let slideIndex = 0;
let autoScrollTimeout; // Variable to store the timeout for auto-scrolling
let autoScroll = true; // Variable to track automatic scrolling

showSlides(slideIndex);

function showSlides(index) {
  const slides = document.getElementsByClassName("carousel-slide");
  const dots = document.getElementsByClassName("dot");

  if (index >= slides.length) {
    slideIndex = 0;
  }
  if (index < 0) {
    slideIndex = slides.length - 1;
  }
  for (let i = 0; i < slides.length; i++) {
    slides[i].classList.remove("active");
    dots[i].classList.remove("active");
  }
  slides[slideIndex].classList.add("active");
  dots[slideIndex].classList.add("active");

  // If autoScroll is true and it's not a manual navigation
  if (autoScroll) {
    // Clear the previous timeout if exists
    clearTimeout(autoScrollTimeout);
    // Set a new timeout for auto-scrolling after 5 seconds
    autoScrollTimeout = setTimeout(() => {
      plusSlides(1);
    }, 5000); // Change the time here (5000 milliseconds = 5 seconds)
  }
}

function plusSlides(n) {
  autoScroll = true; // Enable auto scrolling after manual navigation
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  autoScroll = false; // Pause auto scrolling when a dot is clicked
  clearTimeout(autoScrollTimeout); // Clear the auto-scroll timeout
  showSlides(slideIndex = n);
}

const dots = document.getElementsByClassName("dot");
for (let i = 0; i < dots.length; i++) {
  dots[i].addEventListener("click", function() {
    autoScroll = false; // Pause auto scrolling when a dot is clicked
    clearTimeout(autoScrollTimeout); // Clear the auto-scroll timeout
    currentSlide(i);
  });
}

</script>
