---
layout: default
---

<div class="hero-carousel">
  <div class="carousel-slide active" style="background-image: url('https://images.unsplash.com/photo-1571008887538-b36bb32f4571?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cnVubmluZ3xlbnwwfHwwfHx8MA%3D%3D');">
    <div class="spacer"></div>
    <h1 class="carousel-caption">Headline for Image 1</h1>
  </div>
  <div class="carousel-slide" style="background-image: url('https://images.unsplash.com/photo-1552674605-db6ffd4facb5?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cnVubmluZ3xlbnwwfHwwfHx8MA%3D%3D');">
    <h1 class="carousel-caption">Headline for Image 2</h1>
  </div>
  <div class="carousel-slide" style="background-image: url('https://plus.unsplash.com/premium_photo-1663036916637-ac29ab5b65c5?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cnVubmluZ3xlbnwwfHwwfHx8MA%3D%3D');">
    <h1 class="carousel-caption">Headline for Image 3</h1>
  </div>
  <div class="carousel-dots">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</div>


<div class="home-hero">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="hero-content">
    <h1>Northern Minnesota Track Club</h1>
    <!-- <h1>Promoting trail running and managing races since 1981.</h1> -->
  </div>
  <div class="spacer"></div>

  <div class="buttons">
    <a href="#events">
      <div class="button">Our events
        {% assign arrow-color = "#fdfdfd" %}
        {%- include down-arrow.html -%}
      </div>
  </a>
  </div>
</div>

{% if page.display-this-content %}
  <div class="home-content">
    {% if page.title %}
      <div class="page-heading">{{ page.title }}</div>
    {% endif %}
    {% if page.subtitle %}
      <div class="page-subhead">{{ page.subtitle }}</div>
    {% endif %}
    {{ content }}
  </div>

{% endif %}

<div class="home-events" id="events">
  <div class="container">
    {% for event in site.data.event-data %}
      <div class="box">
        <div class="box-image" style="background-image: url('{{ event.img }}')"></div>
        <div class="box-content">
            <div class="event-name">{{ event.name }}</div>
            <div class="event-date">{{ event.date }}</div>
            <div class="event-dist">{{ event.distance }}</div>
            <div class="event-desc">{{ event.description | newline_to_br }}</div>
            <div class="button-container">
              <a href="{{ event.page }}">
                <div class="button">Event details</div>
              </a>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  let slideIndex = 0;
  showSlides(slideIndex);

  function showSlides(index) {
    const slides = document.getElementsByClassName("carousel-slide");
    const dots = document.getElementsByClassName("dot");
    if (index >= slides.length) {
      slideIndex = 0;
    }
    if (index < 0) {
      slideIndex = slides.length - 1;
    }
    for (let i = 0; i < slides.length; i++) {
      slides[i].classList.remove("active");
      dots[i].classList.remove("active");
    }
    slides[slideIndex].classList.add("active");
    dots[slideIndex].classList.add("active");
  }

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  const dots = document.getElementsByClassName("dot");
  for (let i = 0; i < dots.length; i++) {
    dots[i].addEventListener("click", function() {
      currentSlide(i);
    });
  }
</script>
