---
layout: default
---

{% if page.permalink == '/spring-series/' %}
  {% assign event = site.data.event-data[0] %}
  {% assign series = site.data.series-spring %}
{% else if page.permalink == '/fall-series/' %}
  {% assign event = site.data.event-data[3] %}
  {% assign series = site.data.series-fall %}
{% endif %}

<div class="article-title"> {{ page.title }}</div>
<div class="article-subtitle"> {{ event.date }}</div>

<div class="event-hero" style="background-image:url({% if event.img %}{{ event.img }}{% else %}/img/vintage-team.jpeg{% endif %})">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="buttons">
    {% if page.button-text %}
        <a href="{{ page.button-url }}" style="margin: 0 auto;" {% if page.button-external-link %}target="_blank"{% endif %}>
          <div class="button" style="margin: 0;">{{ page.button-text }}
            {% if page.button-external-link %}
              <img class="arrow-blank" src="/assets/icons/arrow-up-right-from-square-light.svg" alt="" style="padding-left: 0.25em;">
            {% else %}
              {% if page.button-down-arrow %}
              <div class="down-arrow"></div>
              {% endif %}
            {% endif %}
          </div>
        </a>
    {% endif %}
  </div>
</div>

<div class="home-content">
  <div class="key-details">
    <h1>{{ event.name }}</h1>
    <ul>
      <li><strong>Date:</strong> {{ event.date }}</li>
      <li><strong>Distance:</strong> {{ event.distance }}</li>
    </ul>
    <p>{{ content }}</p>
  </div>
</div>

<div class="event-content">
  <h1 id="schedule-and-race-results">Schedule and race results</h1>
</div>

<div class="map-container">
  <iframe id="map-iframe" src="https://www.google.com/maps/d/u/0/embed?mid={{ page.map-id }}&ehbc=2E312F&noprof=1" width="100%" height="480"></iframe>
</div>

  {% comment %} Assign .active and get overall standings {% endcomment %}
  {% assign year_counter = 0 %}
  {% assign first_edition_year = false %}
  {% assign final_event_year = false %}
  {% assign i = 0 %}

  {% for event in series %}

    {% comment %} if metadata, save a few variables and end forloop {% endcomment %}
    {% if event.metadata %}
      {% for overall-standings in event.metadata %}
        {% for standings in overall-standings %}
          {% assign results-women = standings.women %}
          {% assign results-men = standings.men %}
          {% assign results-nonbinary = standings.nonbinary %}
        {% endfor %}
      {% endfor %}
      {% break %}
    {% endif %}

    {% comment %} establish first event as .active and save name for later {% endcomment %}
    {% if forloop.first == true %}
      {% assign active_event = event.name %}
      {% assign series_opener = event.name %}
    {% endif %}

    {% comment %} check to see if we should even continue {% endcomment %}
    {% if event.results %}

      {% comment %} if previous event has results uploaded,
                    set current event as .active {% endcomment %}
      {% if num_editions > 0 %}
        {% assign active_event = event.name %}
      {% endif %}

      {% comment %} store final event for use at after looping {% endcomment %}
      {% assign series_final = event.name %}

      {% comment %} establish first_year {% endcomment %}
      {% if forloop.first == true %}
        {% assign first_year = edition.year %}
        {% assign first_year_boolean = true %}
      {% endif %}

      {% comment %} start looping through editions of the event {% endcomment %}
      {% assign num_editions = 0 %}

      {% for edition in event.results %}

        {% if edition.url %}

          {% comment %} establish first_edition_year {% endcomment %}
          {% if first_year_boolean == true or event.name == series_opener %}
            {% assign first_edition_year = edition.year %}
            {% assign first_year_boolean = false %}
          {% endif %}

          {% comment %} if newer results have been uploaded... {% endcomment %}

          {% if edition.year >= year_counter %}

            {% assign latest_edition_name = event.name %}
            {% assign latest_edition_year = edition.year %}

            {%  assign num_editions = num_editions | plus: 1 %}

            {% assign year_counter = edition.year %}

          {% endif %}

        {% endif %}

      {% endfor %}

    {% endif %}

  {% endfor %}

{% comment %} if season is complete, set the first event as .active {% endcomment %}
{% if first_edition_year == latest_edition_year and latest_edition_name == series_final %}
  {% assign active_event = series_opener %}
{% endif %}

<div class="aid-station-wrapper">
  {% for station in series %}
    {% if station.name %}
      {% assign event_id = station.name | downcase | replace: ' ', '-' | replace: ',', '' | replace: '.', '' | replace: "'", "" %}
      <div class="aid-station click-map {% if active_event == station.name %}active{% endif %}" onclick="panToLocation({{ station.start-gps }},13)" id="{{ event_id }}">
        <div class="series-arrow-name">
          {% assign fill = station.map-color %}
          <div class="series-pin right">
            {% include icon-map-right.html fill=fill %}
          </div>
          <div class="series-pin down">
            {% include icon-map-down.html fill=fill %}
          </div>
          {% if station.dist %}
            <div class="as-dist">{{ station.dist }} mi</div>
          {% endif %}
          <div class="as-name">{{ station.name }}</div>
          <div class="as-spacer"></div>
          {% comment %} if results are posted, set .posted {% endcomment %}
          {% assign eventYear = station.date | date: "%Y" | plus: 0 %}
          {% assign displayResults = '' %}
          {% for edition in station.results %}
            {% if edition.url %}
              {% if edition.year == eventYear %}
                {% assign displayResults = 'display-results' %}
              {% endif %}
            {% endif %}
          {% endfor %}
          <div class="series-date">{{ station.date | date: "%a %-d %b" }}</div>
          <div class="results-icon {{ displayResults }}">Results</div>
          <div class="series-time {{ displayResults }}">{{ station.time }}</div>
        </div>
        <div class="as-details">
          <div class="series-location series-date-time-details">
            <div><strong>Date/time: </strong>{{ station.date | date: "%a %-d %b" }} {{ station.time }}</div>
          </div>
          {% if station.sunset %}
            <div class="series-location">
              <div><strong>Sunset: </strong>{{ station.sunset }}</div>
              <div><strong>Time-to-dark: </strong>{{ station.time-to-dark }}</div>
              <div><strong>Min pace: </strong>{{ station.min-pace }}</div>
            </div>
          {% endif %}
          {% if station.start-gps %}
            <div class="series-location">
              <div><strong>Start/finish: </strong>
                <a class="" href="https://www.google.com/maps/search/?api=1&query={{ station.start-gps }}" target="_blank">{{ station.start-gps }}<img class="arrow-blank" src="/assets/icons/arrow-up-right-from-square.svg" alt="" style="padding-left:0.4em"></a>
              </div>
            </div>
          {% endif %}

          {% assign hide_results = 'hide-results' %}
          {% if station.results %}
            {% for edition in station.results %}
              {% if edition.url %}
                {% assign hide_results = '' %}
              {% endif %}
            {% endfor %}
          {% endif %}
          <div class="series-results {{ hide_results }}">
            <div><strong>Results: </strong>
              {% for edition in station.results %}
                {%- if edition.url -%}<a href="{{ edition.url }}" target="_blank" style="padding-right: 0.25em">{{ edition.year }}</a>{%- endif -%}
              {% endfor %}
            </div>
          </div>

          {% if station.parking %}
            <div class="series-location">
              <div><strong>Parking: </strong>
                {{ station.parking }}
              </div>
            </div>
          {% endif %}
          {% if station.description %}
            <div class="series-location">
              <div><strong>Course description: </strong>
                {{ station.description }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="event-content">
  <p><span class="nb" style="font-weight:bold;">¡ NOTE !</span> Routes and distances displayed above reflect typical courses, which change based on trail conditions and the whims of the race directors. Runners don't find out the exact route until the prerace briefing — all part of the fun.</p>
  <h1 id="overall-standings">Overall standings</h1>
</div>

<div class="container" style="display:flex;padding-bottom:1em;">
  <a href="{{ results-women }}" style="margin: 0 auto;" target="blank">
    <div class="button">Women</div>
  </a>
  <a href="{{ results-men }}" style="margin: 0 auto;" target="blank">
    <div class="button">Men</div>
  </a>
  <a href="{{ results-nonbinary }}" style="margin: 0 auto;" target="blank">
    <div class="button">Nonbinary</div>
  </a>
</div>

<script type="text/javascript">
  // Function to automatically expand the div if the URL has a #section
  function expandDivFromHash() {
    var hash = window.location.hash.substring(1); // Get the #section part of the URL without the #
    if (hash) {
      var sectionContentDiv = document.getElementById(hash);
      if (sectionContentDiv) {
        // Remove 'active' class from all divs
        // var activeDivs = document.querySelectorAll('.active');
        // activeDivs.forEach(function(div) {
        //  div.classList.remove('active');
        // });
        // Expand the corresponding div
        sectionContentDiv.classList.add('active');
        // Scroll to the section
        document.getElementById(hash).scrollIntoView();
      }
    }
  }

  // Run  function expandDivFromHash() when the page loads
  window.onload = expandDivFromHash;

  // Define an async function to load the Google Maps JavaScript API
  async function loadGoogleMaps() {
      // Import the Maps library using importLibrary function
      const { Map } = await google.maps.importLibrary("maps");
  }

  // Call the loadGoogleMaps function to initialize the map
  loadGoogleMaps().catch(error => {
      console.error('Error loading Google Maps:', error);
  });

  // Define the panToLocation function
  function panToLocation(latitude, longitude, zoom) {
      console.log('Pan to:', latitude, longitude, 'Zoom:', zoom);

      // Get the embedded map iframe
      const mapIframe = document.getElementById("map-iframe");

      // Extract the current map URL
      let mapSrc = mapIframe.src;

      // Construct the new map URL with latitude, longitude, and zoom level
      const newMapSrc = mapSrc.includes('ll=') ? mapSrc.replace(/ll=[^&]+/, `ll=${latitude},${longitude}&z=${zoom}`) : `${mapSrc}&ll=${latitude},${longitude}&z=${zoom}`;

      // Update the map iframe src with the new URL to pan the map
      mapIframe.src = newMapSrc;
  }

  // Dropdown functionality to view event details
  document.addEventListener('DOMContentLoaded', function() {
    // Get all series-event.click-map elements
    var seriesEvents = document.querySelectorAll('.aid-station.click-map');

    // Add click event listener to each series-event.click-map element
    seriesEvents.forEach(function(event) {
      event.addEventListener('click', function() {
        if (this.classList.contains('active')) {
          // If the clicked element is already active, remove the 'active' class
          this.classList.remove('active');
        } else {
          // Remove "active" class from all series-event.click-map elements
          seriesEvents.forEach(function(event) {
            event.classList.remove('active');
          });

          // Add "active" class to the clicked series-event.click-map element
          this.classList.add('active');
        }
      });
    });
  });

</script>

<div class="event-content">
    {% capture seriesDetails %}
      {% include series-details.md %}
    {% endcapture %}
    {{ seriesDetails | markdownify }}
</div>
